

body {
    background:black url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    margin: 0;
    padding: 40px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
}

div{
    background: url(transparent_white.png);
    text-align: center;
    margin: 20px;
}

.introduction{
    border: 10px solid black;
    width: 60vh;
    
}
h1 {

    font-size: 35px;
    font-weight: normal;
}
p {
    color:grey;
    font-size: 20px;
    font-weight: lighter;
}





.form{
    border: 10px solid white;
    width: 60vh;
    text-align: left;


}

form label{
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: darkgray;
    padding:5px 0 0 5px;

}
form input{
    display: block;
    font-family: Georgia,Times,serif;
    font-style: italic;
    font-size: 17px;
    font-weight: lighter;
    width: 50vh;
    padding: 4px 0px;
    margin: 0 0 10px;
}

form input[type=submit] {
    background-color: brown;
    color: white;
    padding: 4px;
    cursor: pointer;
    
}

footer{
    background-color: black;

}
